@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root{
  --p-rainforest: #007855;
  --p-junglegreen: #005D4D;
  --p-lightgreen: #0F4C3A;
  --p-palegreen: #0F3D2C;
  --p-yankeesblue: #0F2634;
  --p-mediumturquoise: #2B303A;
  --s-yellow: #FFD426;
  --s-yellow40: #FFEEA8;
  --s-yellow20: #FFF6D4;
  --s-green: #34D186;
  --s-green40: #AEEDCF;
  --s-green20: #D6F6E7;
  --s-red: #FF6861;
  --s-red40: #FFC3C0;
  --s-red20: #FFE1DF;
  --s-blue: #4983F4;
  --s-blue40: #B6CDFB;
  --s-blue20: #DBE6FD;
  --n-00: #052025;
  --n-01: #454E57;
  --n-02: #757F8A;
  --n-03: #9FA6AD;
  --n-04: #C8CCD0;
  --n-05: #E3E6E8;
  --n-0f: #F1F2F3;
  --n-0fg: #E4F5E5;
  --n-0fb: #D7F8F6;
  --background-color: #fff;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--n-00);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--n-01);
  font-weight: 600;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1em;
}